PORT=4000

# TU Auth API Configuration
TU_API_AUTH_URL=
TU_API_INSTRUCTORS_INFO_URL=
TU_API_APPLICATION_KEY=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=30d

# Database Configuration
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# Email Configuration
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

INTERNAL_API_KEY=
